/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* **************
		GENERALES
***************** */
.text-center {
	text-align: center;
}

.text-right {
	text-align: right
}

header	{
	background-color: #fff;
	min-height: 85px;
}

.left-side {
	display: inline-block;
	width: 76%;
	height: 85px;
	vertical-align: top;
}

.blue-title {
  height: 100%;
  position: relative;
  margin-right: 30px;
  background: blue; 
  background: linear-gradient(#2F5497, #2F5497);
}

.blue-title:after {
  content: "";
  position: absolute;
  right: -30px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #2F5497;
  border-top: 45px solid transparent;
  border-bottom: 40px solid transparent;
}

.subtitle {
	color: #fff;
}

.container-logo {
	display: inline-block;
	width: 23%;
}

.container-logo img {
	height: 80px;
	max-width: 100%;
}

h4 {
	margin: 0;
	color: #fff;
	font-size: 1.1rem;
}

.subtitle {
	padding: 10px 0 20px 40px;
}
.subtitle2 {
	padding: 0 0 20px 40px;
}


/* ************
	 BODY INDEX
*************** */
main {
	background-color: aliceblue;
	padding: 40px 20px 0;
}

.left {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.right {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.personaje1 {
	max-width: 80%;
	padding: 40px 0 0;
	margin-bottom: -3px;
}

.title-items {
	font-size: 2.2rem;
	color: #4D658F;
	border-bottom: 2px solid #4D658F;
	padding: 7px;
}

.text {
	padding: 80px 40px 40px;
	display: inline-block;
}

.text .title-items {
	margin: 0 0 35px 40px;
}

.text p {
	font-size: 1.2rem;
	color: #4D658F;
	line-height: 1.4;
}

/* ************
	   FOOTER
*************** */

footer {
	background-color: #4D6590;
	padding: 10px;
}

footer .left {
	border-right: 1px solid #fff;
}

footer p {
	color: #fff;
	padding: 5px 0;
}

.pagination {
	margin-right: 20px;
}

.pagination .arrow {
	width: 12px;
	vertical-align: middle;
	padding: 0 10px;
}

.pagination .arrow-left {
	transform: rotate(180deg);
	padding-top: 3px;
}

.pagination .arrow-right {
	margin-top: -3px;
}

.pagination, .menu, .resources {
	color: #fff;
}

.menu {
	margin-right: 20px;
}
.menu .icon-menu {
	width: 20px;
	vertical-align: middle;
  padding: 0 10px;
}

footer a, .pagination, .menu span, .resources span {
	color: #fff;
	text-decoration: none;
}


/* ************
	   PAGE 2
*************** */

.personaje2 {
	width: 130px;
	margin-right: 7%;
}

.header-page2-text {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.header-page2-text p {
	font-size: 1.2rem;
	color: #4D658F;
	line-height: 1.4;
	padding-top: 10px;
}

.text-sub-page2 {
	font-size: 1.2rem;
	color: #4D658F;
	padding: 8px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.left-list {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.left-list li {
	margin-bottom: 10px;
}

.right-list li {
	margin-bottom: 4px;
}

.left-list li .item {
	background-color: #264467;
	color: #fff;
	height: 50px;
	display: inline-block;
	width: 75%;
	text-align: center;
	padding-top: 15px;
	box-sizing: border-box;
	font-size: 1.1em;
	margin-right: 5px;
}

.right-list {
	width: 54%;
	display: inline-block;
	vertical-align: top;
}



.right-list li .item2 {
	background-color: #dfedf9;
	color: #264467;
	border: 1px solid #264467;
	display: inline-block;
	width: 75%;
	box-sizing: border-box;
	font-size: 0.8em;
	margin-left: 5px;
	padding: 5px;
	line-height: 1;
}

.square {
	border: 1px solid #264467;
	background-color: transparent;
	width: 38px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
}

.square-blue {
	background-color: #578def;
	color: #fff;
	font-size: 1.7rem;
	text-align: center;
	padding-top: 5px;
}


/* Modal */

.ui-dialog  {
	width: 600px !important;
}

.ui-dialog-content {
	padding: 30px 30px 50px;
	text-align: center;
}

.ui-dialog-content p {
	color: #fff;
	font-size: 1.1rem;
	line-height: 1.2;
}

.ui-dialog-content h2 {
	color: #fff;
	font-size: 2rem;
	margin: 10px 10px 30px;
}

.dialog-ok {
	background-color: #909E0B;
}

.dialog-error {
	background-color: #A52B31;
}

button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
  position: absolute;
  right: 20px;
  top: 30px;
  color: #fff;
  background-color: transparent;
  border: transparent;
  font-size: 1.1rem;
}


/* ************
	 RESPONSIVE
*************** */

@media (max-width: 767px) {
	.left-side, .container-logo {
		width: 100%;
	}
	.text-center-xs {
		text-align: center;
	}
	.left, .right {
		width: 100%;
	}
}